<main>
    <h1>Cart</h1>
    {{#each carts}}
    <div class="cart"> 
        <h3>Carrito ID: {{this._id}}</h3>
        <hr>
        <ul>
            {{#each this.products}}
            <li class="product"> 
                <span class="name">{{this.product.brands}} - {{this.product.name}}</span> <br>
                Quantity: <span class="quantity">{{this.quantity}}</span> <br>
                Price: $<span class="price">{{this.product.price}}</span> <br>
            </li>
            <hr>
            {{/each}}
        </ul>
        <h2>Total: <span id="totalPrice" class="total"></span></h2>
    </div>
    {{/each}}
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>